/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_main__nw1Wk {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}
/* Header */
.page_header__oRW75 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 162px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 64px;
  top: 0;
  background: #fff;
  z-index: 10;
  border-bottom: 1px solid #e9ebee;
  flex-shrink: 0;
}

.page_headerLogo__rVpXD {
  color: black;
  margin-left: 9px;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.page_headerButton___Z3Ly {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  width: 142px;
  height: 40px;
  border-radius: 8px;
}

.page_banner__KfSPG {
  /* background-color: black; */
  width: 1116px;
  height: 427px;
  position: relative;
  margin-top: 0px;
  /* marginBottom: "112px", */
}

/* Product Details Page */

.page_productInfoTop__OaJuU {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  width: 1116px;
  height: 443px;
  margin: 32px 162px;
  margin-bottom: 64px;
  gap: 42px;
}

.page_productInfoBottom__LcxGQ {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  width: 1116px;
  height: 443px;
  margin: 32px 162px;
  margin-bottom: 64px;
  gap: 42px;
}

.page_productDetailsRight__tgMjp {
  box-shadow: 0px 4.444444179534912px 66.66666412353516px 0px
    rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  width: 50%;
  height: 100%;
}

.page_productDescription__jo62P {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 0;
  margin-bottom: 112px;
}

.page_productTopImage__RaiyM {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 20px;
}

.page_productTag__srHuX {
  margin: 36px 215px 32px 36px;
  width: 277px;
  height: 106px;
}

.page_quantityTag__GWJBm {
  margin: 32px 36px 36px 36px;
}

.page_productInfoDescription__QkwAr {
  margin-top: 40px;

  width: 50%;
  height: 373px;
}
.page_productInfoImage__qLtZf {
  width: 50%;
}

.page_productTopImage__RaiyM {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  display: flex;
  border-radius: 20px;
}

/* Cart */
.page_summaryContainer__Br3X_ {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 528px;
  height: 443px;
  background-color: white;
  color: black;
  box-shadow: 0px 4.444444179534912px 66.66666412353516px 0px
    rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.page_summaryContainerTop__bu_gq {
  border-bottom: 1px solid #e9ebee;
  flex-direction: column;
  padding: 36px;
}

.page_summarySpan__ocz4p {
  margin: 10px;
}

/* Footer */
.page_footer__F3MD0 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 162px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 72px;
  background: 201B21;
  z-index: 10;
  flex-shrink: 0;
}

.page_footerLeft__4jJlx {
  width: 66.66%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.page_footerMiddle__FA8Dq {
  color: #d9dbe1;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.699999988079071;
}

.page_social__uF1_N {
  display: flex;
  gap: 16px;
  padding-right: 0px;
  height: 24px;
  cursor: pointer;
}

.page_cartContainer__spYcL {
  /* margin: 32px; */
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  max-width: 900px;
  padding: 20px;
}

/* Left side - Cart items */
.page_cartItems__ZJNKQ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;

  width: 582px;
  height: 166px;
  padding: 0;
}

.page_itemImage__RxgZa {
  width: 165px;
  height: 100%;
  border-radius: 18.77px;
}

.page_itemDetails__WyDIN {
  width: 100%;
  margin-left: 32px;
}

.page_itemTopDetails___Bqju {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
}

.page_itemTopLeftDetails__6Vh6E {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.page_itemBottomDetails__ub4DM {
  height: 50%;
  display: flex;
  flex-direction: row;
  padding-top: 14%;
  padding-left: 2px;
  align-items: center;
  align-content: center;
}

/* Cart Page */
.page_cartPageWrapper__bpoOO {
  width: 100%;
  height: 509px;
  padding-top: 31px;
  padding-left: 162px;
  padding-right: 162px;
  display: flex;
  flex-direction: row;
  gap: 74px;
}

.page_cartItem__mQwDf {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}

.page_cartPageLeft__DSbq3 {
  display: flex;
  flex-direction: column;
  width: 582px;
}

.page_summaryContainer__Br3X_ {
  margin-top: 32px;
  font-weight: 400;
  height: 509px;
  width: 460px;
  background-color: white;
  padding: 20px;
}

.page_summaryContainer__Br3X_ div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}

.page_summaryContainer__Br3X_ button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.page_summaryContainer__Br3X_ button:hover {
  background-color: #0056b3;
}

.page_description__lvaOp {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.page_description__lvaOp a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page_description__lvaOp p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.page_code__9AfUJ {
  font-weight: 700;
  font-family: var(--font-mono);
}

.page_grid__JZ9Cz {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  justify-content: space-between;
}

.page_carousel__YHSiC {
  width: 546px;
  height: 100%;
  position: relative;
}

.page_card__Cf__u {
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.page_card__Cf__u span {
  display: flex;
  margin-top: 14px;
  transition: transform 200ms;
  color: black;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.5px;
}

.page_card__Cf__u h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: black;
  margin-top: 18px;
}

.page_card__Cf__u p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
}

.page_desktopOnly__7wcFY {
  display: block;
}

.page_mobileOnly__ZGVF9 {
  display: none;
}

.page_center__NcdcW {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-top: 31px;
  margin-bottom: 112px;
  width: 1116px;
  height: 916px;
}

.page_bannerButton__oic9x {
  position: absolute;
  left: 64px;
  bottom: 64px;
  transform: translate(-50% -50%);
  background-color: black;
  padding: 20px 80px;
  border-radius: 8px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  width: 290px;
  height: 64px;
  gap: 10px;
}

.page_center__NcdcW::before,
.page_center__NcdcW::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.page_logo__ikIZE {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .page_card__Cf__u:hover {
    cursor: pointer;
  }

  .page_card__Cf__u:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .page_card__Cf__u:hover span {
    transform: none;
  }
}

/* Responsive */

/* Mobile */
@media (max-width: 768px) {
  .page_main__nw1Wk {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 390px;
    padding: 12px 138px;
  }

  .page_header__oRW75 {
    padding: 20px 14px;
  }

  .page_carousel__YHSiC {
    width: 350px;
    height: 240px;
  }

  .page_productDetailsRight__tgMjp {
    width: 100%;
    height: 100%;
  }

  .page_productInfoDescription__QkwAr {
    margin-top: 0px;
    width: 100%;
    height: 268px;
  }

  .page_footer__F3MD0 {
    width: 390px;
    height: 128px;
    flex-direction: row;
    align-items: center;
    padding: 24px 20px;
  }
  .page_footerLeft__4jJlx {
    display: flow-root;
  }

  .page_footerMiddle__FA8Dq {
    margin-top: 10px;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding-left: 0px;
  }

  .page_social__uF1_N {
    height: 100%;
  }

  .page_center__NcdcW {
    margin-top: 20px;
    width: 350px;
    height: 864px;
  }

  .page_cartContainer__spYcL {
    display: flex;

    max-width: 900px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .page_banner__KfSPG {
    position: relative;
    width: 350px;
    height: 449px;
    margin-top: 0px;
    padding: 0px;
  }

  .page_desktopOnly__7wcFY {
    visibility: hidden;
  }

  .page_mobileOnly__ZGVF9 {
    display: block;
  }

  .page_content___38fW {
    padding: 4rem;
  }

  .page_productInfoTop__OaJuU {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    width: 350px;
    height: 577px;
    margin: 19px 21px 40px 20px;
  }

  .page_productInfoBottom__LcxGQ {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    width: 350px;
    height: 577px;
    margin: 40px 20px 64px 20px;
  }

  .page_productInfoImage__qLtZf {
    width: 100%;
  }

  .page_bannerButton__oic9x {
    left: 24px;
    bottom: 40px;
    padding: 12px 80px;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 302px;
    height: 44px;
  }

  .page_div__YUB_Q span {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1px;
  }

  .page_grid__JZ9Cz {
    grid-template-columns: repeat(0, 1fr);
    display: wrap;
    flex-wrap: nowrap;
    gap: 220px;
    overflow-y: auto;
  }

  .page_card__Cf__u {
    width: 195.75px;
    height: 0%;
  }

  .page_card__Cf__u h2 {
    margin-bottom: 0.5rem;
  }

  .page_productTag__srHuX {
    margin: 24px 199px 18px 27px;
    width: 277px;
    height: 106px;
  }

  .page_quantityTag__GWJBm {
    margin: 18px 24px 24px 24px;
  }

  /* Cart page */

  .page_cartPageWrapper__bpoOO {
    width: 100%;
    height: 509px;
    margin-top: 19px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 74px;
    align-items: center;
    justify-content: left;
  }

  .page_cartPageLeft__DSbq3 {
    /* display: flex; */
    width: 329px;
    flex-direction: column;
  }

  .page_description__lvaOp {
    font-size: 0.8rem;
  }

  .page_description__lvaOp a {
    padding: 1rem;
  }

  .page_description__lvaOp p,
  .page_description__lvaOp div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .page_description__lvaOp p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
  }

  .page_description__lvaOp div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .page_grid__JZ9Cz {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .page_vercelLogo__YYFl1 {
    filter: invert(1);
  }

  .page_logo__ikIZE {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes page_rotate__xIioM {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

